:root {
    --primary-color: hsl(322, 100%, 66%);
    --Very-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* start-hero */
#hero {
    background-image: url(/images/bg-hero-mobile.svg);
    background-size: cover;
    background-color: var(--Very-Cyan);

}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1em .2em ;
}
.nav img {
    width: 8em;
    padding: 1em;
}
.nav .btn {
    background-color:white;
    box-shadow: -1px 3px 5px 0px rgb(0 0 0 / 20%);;
    border-radius: 3em;
    text-align: center;
    font-size: 1em;
    width: 150px;
    height: 32px;
    padding: 1px;
    margin-top: 0.8em;
}
.nav .btn p {
    padding: 5px;
}



.hero .main {
    font-weight: bold;
    margin: 1em 10px;
    text-align: center;
    font-size: 2em;
}
.hero .details {
    text-align: center;
    margin: 0 50px 50px 50px;
}
.hero .getStarted-btn{
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 3em;
    margin: 50px auto;
    padding: 1em;
    color: white;
    max-width: 300px;
    display: block;
}
div.hero img {
    display: block;
    width: 230px;
    min-width :300px;
    margin: auto;
    padding-bottom: 40px;
}
/* end-hero */

/* start-content */

#content {
    background-color: whitesmoke;
}
#content ul {
    padding: 1px 0 200px 0;
}
#content li {
    background-color: rgb(255, 255, 255);
    margin: 3em 1em;
    border-radius: 1.5em;
    list-style: none;
    box-shadow: -1px 3px 5px 0px rgb(0 0 0 / 20%);}
#content img {
    display: block;
    margin: 0 auto;
    padding: 50px 0;
    width: 230px;

}
#content blockquote {
    color: var(--Very-Dark-Cyan);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}
#content p{
    color: hsl(192, 100%, 9%);
    text-align: center;
    padding: 40px 40px 40px 40px;
}
#content li {
    padding: 1.3em;
}
#content li div.button {
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 3em;
    margin: 0 auto;
    width: 70%;
    box-shadow: -1px 3px 5px 0px rgb(0 0 0 / 20%);

}
#content li.more-padding {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 80px auto 0 auto;

}
#content li .ready {
    font-weight: bold;
    color: var(--Very-Dark-Cyan);
    margin-top: 5px;
    font-size: 1.2em;
}
#content li div.button p{
    color: white;
    padding: 1.2em;
}
/* end-content */

/* start-foooter  */
footer div.container div.grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 200px 20px 0 20px;
}
footer {
    background-color:var(--Very-Dark-Cyan);
    color: white;
}
footer div.container img.logo {
    padding: 20px 0;
}
footer div.container div {
    display: flex;
    gap: 20px;
}
footer .location img {
    width: 20px;
    height: 20px;
    margin:-3px 0 5px 0;
}
footer .more-information a{
    text-decoration: none;
    color: var(--Very-Cyan);
    display: block;
    padding:10px 0;
}
footer .more-information {
    padding: 40px 20px;
}
footer .font-awesome i {
    color: white;
    border: 1px solid white;
    border-radius:50%;
    width: 18px;
    height: 18px;
    padding: 7px;
    margin:0 5px;
}
footer .font-awesome {
    text-align: center;
    padding: 20px;
}
footer .copyright {
    color: white;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 10px;
    font-size: .7em;
}

/* end-footer */
/* start-media */
@media only screen and (min-width: 1440px) {
    div.nav img {
        width: 300px;
    }
    div.nav div.btn {
        width:200px;
    }
    #hero {
        padding: 10px;
    }
    #hero div.hero {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    #hero div.hero img {
        width: 1100px;
        padding-top: 50px;
    }
    #hero div.hero > div {
        padding: 60px 30px 0 0;
    }
    #hero div.hero div > p.main {
        text-align: left;
        margin: 80px 0 40px 0;
        padding-right: 80px;
        font-size: 50px

    }
    #hero div.hero div > p.details {
        text-align: left;
        margin: 0px 0 20px 0;  
        padding-right: 90px;
    
    }
    
    #hero div.hero div.getStarted-btn {
        width: 250px;
        margin-left: 0;
        margin-top: 30px;
    }


    #content ul {
        padding-right: 30px;
        padding-left: 30px;
    }
    #content ul li img {
        width: 500px;
        padding-left: 40px;
    }
    #content ul li div {
        margin: auto 50px;
    }
    #content ul li div blockquote {
        text-align: left;
        font-size: 2em;
    }
    #content ul li div p {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        margin-right: 150px;
    }
    #content ul li {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        gap: 200px;
        
    }
    #content ul li.diff {
        flex-direction: row;
    }
    #content ul li.more-padding {
        display: block;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    #content ul li.more-padding div.button  {
        width: 350px;
        
    }
    #content ul li.more-padding div.button p {
        margin: 0;
        text-align: center;
    }


    footer{
        padding: 20px;
    }
    footer div.container {
        display: flex;
        justify-content: space-around;
        gap: 100px;
    }
    footer div.grid {
        margin:0 40px;
        padding:140px 20px;
    }
    section.more-information {
        margin-top: 140px;
        display: flex;

    }
    footer div.container section.more-information div {
        padding: 50px;
        flex-direction: column;
        gap: 0;
    }
    section.more-information div a {
        width: 120px;
    }
    footer section.font-awesome {
        display: flex;
        gap: 5px;
        margin-top: 225px;
        margin-right: 140px;
    }
    footer div.copyRight p{
        text-align: right;
        padding-right: 10px;
        padding-bottom: 50px;
    }
}

/* end-media */